{% extends "bootstrap/base.html" %}

{% block title %}Npad 一个简易留言簿{% endblock %}

{% block navbar %}
    <ul class="nav nav-pills">
        <li class="active"><a href="{{ url_for('main.index') }}">Npad</a></li>
        <li><a href="{{ url_for('main.index') }}">首页</a></li>
        <li><a href="{{ url_for('main.post') }}">添加留言</a></li>
        <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}