{% extends "base.html" %}

{% import "macro.html" as macros %}

{% block title %}留言板首页{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h3>留言列表</h3>
        <p>
            {% if current_user.is_authenticated %}
                你好{{ current_user.name }}
            {% else %}
                你好陌生人
            {% endif %}
        </p>
    </div>
    <!--已list方式渲染全部留言-->
    <table class="table-bordered">
        <tr>
            <th><span class="label label-info">留言序号</span></th>
            <th><span class="label label-success">留言内容</span></th>
            <th><span class="label label-info">用户ID</span></th>
            <th><span class="label label-success">用户名</span></th>
        </tr>
        {% for message in messagelist %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.text }}</td>
                <td>{{ message.user_id }}</td>
                <td>{{ message.user.name }}</td>
            </tr>
        {% endfor %}
    </table>
    <!--分页宏-->
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.index') }}
    </div>
{% endblock %}