{% extends "base.html" %}

{% import "macro.html" as macros %}

{% block title %}留言板首页{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h3>留言列表</h3>
        <h4>
            {% if current_user.is_authenticated %}
                你好{{ current_user.name }}
            {% else %}
                你好陌生人
            {% endif %}
        </h4>
    </div>
    <!--已list方式渲染全部留言-->
    <table border="1">
        <tr>
            <th>序号</th>
            <th>内容</th>
        </tr>
        {% for message in messagelist %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.text }}</td>
            </tr>
        {% endfor %}
    </table>
    <!--分页宏-->
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.index') }}
    </div>
{% endblock %}