{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}新建留言{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h3>新建留言</h3>
        {{ text }}
    </div>
    <div class="col-md-4">
        {% if current_user.is_authenticated %}
            {{ wtf.quick_form(form) }}
        {% else %}
            <li class="active"><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> 登陆</a>
            </li>
        {% endif %}
    </div>
{% endblock %}