{% extends "base.html" %}

{% import "macro.html" as macros %}

{% block title %}{{ user.name }}的留言记录{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h3>我的留言记录</h3>
    </div>
    <table class="table-condensed">
        <tr>
            <th>留言序号</th>
            <th>留言内容</th>
            <th>用户ID</th>
            <th>用户名</th>
        </tr>
        {% for message in messagelist %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.text }}</td>
                <td>{{ message.user_id }}</td>
                <td>{{ message.user.name }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.user',name=user.name) }}
    </div>
{% endblock %}